{% extends 'base.html.twig' %}

{% block title %}About us !{% endblock %}

{% block body %}
    <div class="container-xxl">
        <h1 class="mt-5">About us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cum ex nisi quasi voluptatum. Ad alias aperiam architecto aspernatur commodi consectetur consequuntur dolore esse facilis fuga id illo labore magnam magni, neque nesciunt nihil omnis perspiciatis quam qui quis quisquam quos sint tempore vel velit voluptates. Dignissimos explicabo repellat veritatis.</p>

    </div>
{% endblock %}
