{% extends 'base.html.twig' %}

{% block title %}Page Main !{% endblock %}

{% block body %}
    <div class="container-xxl">
        <h1 class="mt-5">Page Main</h1>
        <p>Bienvenue sur la page principale de l'application !</p>
        <p>Utilisez le menu pour naviguer dans les différentes sections.</p>
    </div>
{% endblock %}
