{% extends 'base.html.twig' %}
{% form_theme wish_form 'bootstrap_5_layout.html.twig' %}
{% block title %}Edition d'une série{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1>Editer un souhait</h1>
    <div class= "row justify-content-center">
        <div class="col-md-6">
            {{ form(wish_form) }}
        </div>
    </div>
{% endblock %}